<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>

<body>
    <div class="bola"></div>
    <% if(teste === undefined){ %>
        <ul class="nav d-flex flex-row justify-content-end mx-5">
            <li class="nav-item">
                <button onclick="location.href='/login'" class="rounded-2 border-none Login mt-2">Login</button>
            </li>
            <li class="nav-item">
                <button onclick="location.href='/cadastrar'" class="rounded-2 border-none Login mt-2 mx-2">Cadastro</button>
            </li>
        </ul>
        <% } else { %>
            <% if(teste.email == "amarildozj@gmail.com"){ %>
            <ul class="nav d-flex flex-row justify-content-end mx-5">
                <li class="nav-item d-flex flex-row align-items-center">
                    <button onclick="location.href='/admin/painel'" class="btn btn-primary rounded-2 border-none Login mt-2 mx-1">Painel</button>
                    <button onclick="location.href='/logout'" class="btn btn-danger rounded-2 border-none Login mt-2 mx-1">Sair</button>
                </li>
            </ul>
            <% } else{ %>
                <ul class="nav d-flex flex-row justify-content-end mx-5">
                    <li class="nav-item d-flex flex-row align-items-center">
                        <h5>Bem vindo</h5>
                        <button onclick="location.href='/logout'" class="btn btn-danger rounded-2 border-none Login mt-2 mx-1">Sair</button>
                    </li>
                </ul>
                <% }; %>
            <% }; %>
        <div class="container">
            <div class="col-12">
                <h3 class="text-center titulo"><img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-700.png" alt=""></h3>
            </div>
    </div>
    <div class="container blog">
        <h1 class="text-center">Categorias</h1>
        </div>
        <div class="tabela col-8 mx-auto">
            <% resposta.forEach(function(categorias){ %>
                <!-- <div class="card btn-one text-center d-flex align-items-center justify-content-center"> -->
                 <a href="<%= categorias.id %>/artigos/1"><span><%= categorias.title %></span></a>
            <!-- </div> -->
            <% }); %>
        </div>
    </div>
</body>
<%- include ('./components/links.ejs') %>

</html>